footer {
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    z-index: -1;
    position: relative;
}

footer > .footer-head {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 80px auto 0 auto;
    padding-top: 10px;
    z-index: 0;
}

.footer-head > img {
    display: flex;
    align-self: center;
    margin: 50px 0 20px 0;
    width: 10%;
}

.footer-head .social-media {
    display: flex;
    align-items: center;
    top: 50px;
    right: 130px;
    position: absolute;
    margin-bottom: 20px;
}

.social-media > a {
    padding: 5px;
}

.social-media > a > i {
    color: hsl(273, 4%, 51%);
}

footer > hr {
    width: 80%;
    margin: 0 auto 50px auto;
    z-index: 0;
}

.footer-main {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    z-index: 0;
}

.footer-main .footer-info {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
}

.footer-info .info-links {
    display: flex;
    flex-direction: column;
}

.footer .pattern-div {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
}
